src/RepetierHost/obj
src/RepetierHost/bin/Release
src/RepetierHost/bin/debug
src/RepetierHost/bin/MacOSX
src/RepetierHost/bin/release/Slic3r
src/Slic3r
src/slic3r*
*/.DS_Store
macosx/RepetierHost.app
linux/RepetierHost
win/*
iRapid/*
RepetierHostMacOSX.sparseimage
.DS_Store
macosx/Repetier-Host.dmg

screenshots/Thumbs.db

macosx/slic3r-osx-uni-0-5-5b.dmg

linux/buildTest.sh

src/RepetierHost/RepetierHost.suo

src/RepetierHost/RepetierHost.suo

src/RepetierHost/bin/Release/RepetierHost.exe

repetierHostLinux*

setupRepetierHost*

src/RepetierHost/images/Thumbs.db

setup-config-iRapid.iss

iRapid/custom.ini

iRapid/Arduino MEGA 2560 REV3.inf
